/*---------- || APPLY TO ALL/MULTIPLE ----------*/

body {
  background-color: #020202;
  background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
  font-family: "Montserrat";
}

h1 {
  color: #f0f0f0;
  font-size: 5rem;
  font-weight: 100;
  margin: 0;
}

img{
  border-radius: 5px;
  position: relative;
}

.sections{
  position: relative;
}

.position-absolute{
  position: absolute;
}

.shape{
  opacity: 0.75;
  z-index: -2;
}

/*---------- || TITLE SECTION ----------*/

.heading-container {
  height: 20vh;
  text-align: center;
}

.title-section {
  padding-top: 60vh;
  padding-bottom: 20vh;
}

#caret {
  font-size: 3rem;
  color: white;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#scroll-text{
  font-size: 2rem;
  color: white;
}

@keyframes bounce {
  0% {
    opacity: 0.25;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.25;
    transform: translateY(0);
  }
}

/*---------- || COLLECTION 1 ----------*/

#turtle {
  width: 62.5vw;
}

#statue {
  width: 41.67vw;
  right: 0;
  z-index: 1;
  margin-top: 11vh;
}

#flower {
  width: 31.25vw;
  transform: rotate(180deg);
  left: 15vw;
  margin-top: 64vh;
  z-index: 1;
}

#xs-vert{
  left: 5vw;
  width: 30vw;
}

#sitting {
  width: 100%;
  z-index: 0;
}

/*---------- || COLLECTION 2 ----------*/

#boy {
  width: 52.08vw;
  height: auto;
  right: 0;
  z-index: 1;
  margin-top: 170vh;
}

#sitting2 {
  width: 46.87vw;
  left: 5.2vw;
  top: -16vh;
  z-index: 2;
  margin-top: 32vh;
}

#lines-left{
  width: 40vw;
  right: 5vw;
}

#forest {
  width: 100%;
  z-index: 0;
}

/*---------- || COLLECTION 3 ----------*/

#plus{
  width: 30vw;
  right: 8vw;
}

#umbrella {
  width: 62.5vw;
  z-index: 1;
  margin-top: 21.34vh;
}

#mountain {
  width: 46.87vw;
  right: 0;
  margin-top: 106.72vh;
}

#lines-right{
  width: 30vw;
  left: 15vw;
  top: 60vh;
}

#building {
  width: 57.29vw;
  left: 5.2vw;
  z-index: -1;
  display: inline;
}

#lines-horiz{
  width: 30vw;
  bottom: 70vh;
  right: 0;
}

/*---------- || ABOUT ----------*/

.about {
  color: black;
  right: -0.5rem;
  bottom: 25vh;
  font-size: 10rem;
  z-index: 3;
  -webkit-text-stroke: 2px white;
  margin: 0;
  transform: rotate(90deg);
  transition: 2s ease;
}

.about:hover {
  color: white;
  transition: 1s;
  cursor: pointer;
}

.about-page {
  position: fixed;
  width: 0;
  height: 105vh;
  background-color: whitesmoke;

  transition: 3s;
  background-position: left top;
  -webkit-transition: width 1s ease-in-out;
  top: 0;
  right: 0;
  z-index: 2;
}

.about-info {
  width: 80vw;
  bottom: 20vh;
  padding-left: 1rem;
}

#list-of-artists {
  font-size: 2rem;
  line-height: 2rem;
}

.artist-link {
  color: black;
  text-decoration: none;
  font-weight: 900;
  -webkit-transition: 0.5s ease;
}

.artist-link:hover {
  text-decoration: underline overline line-through;
  opacity: 0.25;
}

/*---------- || FOOTER ----------*/

#footer {
  width: 100%;
}

.footer-padding {
  height: 5vh;
}

/*---------- || MEDIA QUERIES ----------*/

@media (max-width: 1440px) {
  #umbrella {
    margin-top: 0;
  }

  #mountain {
    margin-top: 50vh;
  }

  .about {
    font-size: 7rem;
  }

  #lines-right{
    top: 40vh;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  #turtle {
    margin-top: 20vh;
  }

  #boy {
    margin-top: 140vh;
  }

  #mountain {
    margin-top: 60vh;
  }

  .about {
    font-size: 4rem;
  }
}

@media (max-width: 812px) {
  #list-of-artists {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  #turtle {
    margin-top: 0;
  }

  #statue {
    margin-top: 0;
  }

  #flower {
    margin-top: 32vh;
  }

  #boy {
    margin-top: 70vh;
  }

  #sitting2 {
    top: -10vh;
    margin-top: 20vh;
  }

  #umbrella {
    margin-top: 4vh;
  }

  #mountain {
    margin-top: 30vh;
  }

  .about {
    font-size: 4rem;
  }

  #list-of-artists {
    font-size: 1rem;
    line-height: 1rem;
  }

  #caret{
    font-size: 2rem;
  }

  #lines-right{
    top: 25vh;
  }

  #lines-horiz{
    bottom: 40vh;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1rem;
  }

  h3{
    font-size: 0.75rem;
  }

  #statue {
    margin-top: 0;
  }

  #flower {
    margin-top: 15vh;
  }

  #sitting2 {
    top: -8vh;
    margin-top: 16vh;
  }

  #boy {
    margin-top: 30vh;
    width: 60vw;
  }

  #umbrella {
    margin-top: 0;
  }

  #mountain {
    margin-top: 15vh;
  }

  .about {
    font-size: 2rem;
    right: -0.5em;
    bottom: 2.5em;
    -webkit-text-stroke: 1px white;
  }

  #scroll-text{
    font-size: .75rem;
  }

  #lines-right{
    top: 15vh;
  }

  #lines-horiz{
    bottom: 20vh;
    width: 40vw;
  }
}