body {
  background-color: #020202;
  background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
  font-family: "Montserrat";
}

h1 {
  font-weight: 100;
  color: #f0f0f0;
  margin: 0;
  font-size: 5rem;
}

.heading-container {
  height: 20vh;
  text-align: center;
}

.title-section {
  padding-top: 60vh;
  padding-bottom: 20vh;
}

.heading-container .fas {
  font-size: 3rem;
  color: white;
  text-align: center;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.scroll-name{
  font-size: 2rem;
}

.heading-container p {
  color: white;
}

@keyframes bounce {
  0% {
    opacity: 0.25;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.25;
    transform: translateY(0);
  }
}

#turtle {
  position: relative;
  width: 62.5vw;
}

#statue {
  width: 41.67vw;
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 11vh;
}

#flower {
  width: 31.25vw;
  transform: rotate(180deg);
  position: absolute;
  left: 15vw;
  margin-top: 64vh;
  z-index: 1;
}

#sitting {
  width: 100%;
  position: relative;
  z-index: 0;
}

img {
  border-radius: 10px;
  /* box-shadow: 5px 5px 20px #1f1f1f; */
}

#boy {
  width: 52.08vw;
  height: auto;
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 170vh;
}

#sitting2 {
  width: 46.87vw;
  position: relative;
  left: 5.2vw;
  top: -16vh;
  z-index: 2;
  margin-top: 32vh;
}

#forest {
  width: 100%;
  position: relative;
  z-index: 0;
}

#collection-2 {
  position: relative;
}

#umbrella {
  width: 62.5vw;
  position: relative;
  z-index: 1;
  margin-top: 21.34vh;
}

#section3 {
  position: relative;
}

#mountain {
  width: 46.87vw;
  position: absolute;
  right: 0;
  margin-top: 106.72vh;
}

#building {
  width: 57.29vw;
  position: relative;
  left: 5.2vw;
  z-index: -1;
  display: inline;
}

#footer {
  width: 100%;
  position: relative;
}

.about {
  font-family: "Montserrat";
  color: black;
  position: absolute;
  right: -0.5rem;
  bottom: 25vh;
  font-size: 10rem;
  z-index: 3;
  -webkit-text-stroke: 2px white;
  margin: 0;
  transform: rotate(90deg);
  transition: 2s ease;
}

.about:hover {
  color: white;
  transition: 1s;
  cursor: pointer;
}

.about-page {
  position: fixed;
  width: 0;
  height: 105vh;
  background-color: whitesmoke;

  transition: 3s;
  background-position: left top;
  -webkit-transition: width 1s ease-in-out;
  top: 0;
  right: 0;
  z-index: 2;
}

.about-info {
  position: absolute;
  width: 80vw;
  bottom: 20vh;
  padding-left: 1rem;
}

.about-info p {
  font-size: 2rem;
  line-height: 2rem;
}

.about-info a {
  color: black;
  text-decoration: none;
  font-weight: 900;
  -webkit-transition: 1s ease;
}

.about-info a:hover {
  text-decoration: underline overline line-through;
  color: grey;
}

.footer-padding {
  height: 5vh;
}

@media (max-width: 1440px) {
  #umbrella {
    margin-top: 0;
  }

  #mountain {
    margin-top: 50vh;
  }

  .about {
    font-size: 7rem;
  }
}

@media (max-width: 1024px) {
  .page-heading {
    font-size: 3rem;
  }

  #turtle {
    margin-top: 20vh;
  }

  #boy {
    margin-top: 140vh;
  }

  #mountain {
    margin-top: 60vh;
  }

  .about {
    font-size: 4rem;
  }
}

@media (max-width: 812px) {
  .about-info p {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (max-width: 768px) {
  .page-heading {
    font-size: 2.5rem;
  }

  #turtle {
    margin-top: 0;
  }

  #statue {
    margin-top: 0;
  }

  #flower {
    margin-top: 32vh;
  }

  #boy {
    margin-top: 70vh;
  }

  #sitting2 {
    top: -10vh;
    margin-top: 20vh;
  }

  #umbrella {
    margin-top: 4vh;
  }

  #mountain {
    margin-top: 30vh;
  }

  .about {
    font-size: 4rem;
  }

  .about-info p {
    font-size: 1rem;
    line-height: 1rem;
  }

  .heading-container .fas{
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .page-heading {
    font-size: 1rem;
  }

  #statue {
    margin-top: 0;
  }

  #flower {
    margin-top: 15vh;
  }

  #sitting2 {
    top: -8vh;
    margin-top: 16vh;
  }

  #boy {
    margin-top: 30vh;
    width: 60vw;
  }

  #umbrella {
    margin-top: 0;
  }

  #mountain {
    margin-top: 15vh;
  }

  .about {
    font-size: 2rem;
    right: -0.5em;
    bottom: 2.5em;
    -webkit-text-stroke: 1px white;
  }

  .scroll-name{
    font-size: .75rem;
  }
}
